.jumbotron {
	background-color: beige;
	border: 1px solid green;
	h2 {
		color: grey;
		font-weight: bold;
	}
}

.navbar-default {
	.container-fluid {
		background-color: beige;
		.nvabar-nav > li > a {
			color: red;
			font-size: 16px;
			font-weight: bold;
		}
	.navbar-brand {
		color: black;
		font-size: 30px;
		font-weight: bold;
		font-family: 'Times New Roman';
		}
	}
}
.container-fluid {
	padding: 10px 120px;
}

.footer {
	margin-top:45px;
	padding-top: 5px;
	border-top: 2px solid gray;
	color: gray-light;
	a {
		color: gray;
		&:hover {
			color: gray-darker;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 15px;
		}
	}
}